# Dataframe exercises

## Exercise - US Baby Names

The folder '3-data-analysis/data/names' contains files with the names registered in the US from  1880 to 2021. Use Pandas to do the following tasks.

### Join the data in the files in a single dataframe (e.g., a name by row)

In [0]:
import pandas as pd

[pd.read]

### Find the name most registered since 1880

### The name less registered since 1880

### Find the name most registered by year

### Find the name most registered in the year 2000

### Find the name less registered in the year 2000

### Find the name most registered since 1880 by gender

### Plot the evolution of the registration of the name `Mary'

### Plot the evolution of the registration of the 10 most registered names

## Exercise - US Baby Names by State

The folder '4-data-analysis/data/namesbystate' contains files with "State-specific data on the relative frequency of given names in the population of U.S. births where the individual has a Social Security Number"

### Load the data into a single dataframe: what is the best structure?

### Get the registration of females for NY

### How many females where registered in NY since the begining of the records?

### Get the registration of females named Olivia for NY

### What was the minimum, maximum, average and 10th percentile of registrations of the name Olivia in NY?

### Find how many times "Olivia" was registered in NY in 2000

### Find the year and state where Olivia was most times registered in a single year.

### Find the year where Olivia was most times registred (all states)

### Find the states where the name Mary and John were most times registered

### Plot the evolution of the names Mary and John through the years

### Find the name most registered in a state for a single year

### Plot the evolution of the top 5 (comulattive, i.e., all times) female names

### Plot the comulative registration of the name Olivia in the states NY, NV, NM, Nj, and NH.