In [23]:
# transform the data in folders neg and pos into a csv file

import os
import pandas as pd

def create_data_csv(set_name):
    data = []
    for folder in ['neg', 'pos']:
        path = os.path.join('aclImdb', set_name, folder)
        print(f'Processing {path} folder')
        for file in os.listdir(path):
            with open(os.path.join(path, file), 'r', encoding='utf-8') as f:
                review = f.read()
                classification = file.split('_')[1].split('.')[0]
                data.append([file, review, classification, 1 if folder == 'pos' else 0])
    df = pd.DataFrame(data, columns=['filename', 'review', "classification", 'sentiment'])
    df.to_csv(f'imdb_data_{set_name}.zip', index=False)
    return df

In [24]:
create_data_csv('train')

Processing aclImdb/train/neg folder
Processing aclImdb/train/pos folder

,filename,review,classification,sentiment
0,1821_4.txt,Working with one of the best Shakespeare sourc...,4,0
1,10402_1.txt,"Well...tremors I, the original started off in ...",1,0
2,1062_4.txt,Ouch! This one was a bit painful to sit throug...,4,0
3,9056_1.txt,"I've seen some crappy movies in my life, but t...",1,0
4,5392_3.txt,"""Carriers"" follows the exploits of two guys an...",3,0
...,...,...,...,...
24995,9707_10.txt,About a year ago I finally gave up on American...,10,1
24996,35_8.txt,When I saw the elaborate DVD box for this and ...,8,1
24997,6034_10.txt,"Last November, I had a chance to see this film...",10,1
24998,2780_9.txt,Great movie -I loved it. Great editing and use...,9,1
24999,437_9.txt,"Enchanted April is a tone poem, an impressioni...",9,1

In [25]:
create_data_csv('test')

Processing aclImdb/test/neg folder
Processing aclImdb/test/pos folder

,filename,review,classification,sentiment
0,1821_4.txt,Alan Rickman & Emma Thompson give good perform...,4,0
1,9487_1.txt,I have seen this movie and I did not care for ...,1,0
2,4604_4.txt,"In Los Angeles, the alcoholic and lazy Hank Ch...",4,0
3,2828_2.txt,"This film is bundled along with ""Gli fumavano ...",2,0
4,10890_1.txt,I only comment on really very good films and o...,1,0
...,...,...,...,...
24995,70_8.txt,"This movie is certainly well-constructed, begi...",8,1
24996,8974_8.txt,Nice to see a comedy for grown ups. Masterfull...,8,1
24997,437_9.txt,Jean Renoir's homage to the Paris of the late ...,9,1
24998,8137_8.txt,What are the movies? I mean.. what are movies ...,8,1
24999,1917_10.txt,I saw this movie on TV and loved it! I am a re...,10,1

In [ ]:
!pwd